@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2px;
    gap: 5px;
}

.saudacao{
    display: flex;
    border: 1px solid blue;
    width: auto;
    padding: 3px;
    text-align: center;
    align-items: center;
}

.saudacao > h1{
    font-size: 1.5rem;
}

.exame-paciente{
    height: 100%;
    padding: 5px;
    text-align: center;
}

.add-paciente{
    display: flex;
    border: 1px solid;
    gap: 8px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.left_column{
    border: 1px solid blue;
    text-align: left;
    width: 50%;
}

.rigth_column{
    border: 1px solid purple;
    width: 50%;
    padding: 5px;
}

.rigth_column ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
}

.rigth_column li{
    border: 1px solid rgb(37, 37, 37);
    border-radius: 15px;
    padding: 5px;
}

.addPaciente{
    margin: 0px 0px 10px 0px;
    width: 50%;
    font-size: 1.2rem;

}

.exames-ativos{
    border: 1px solid blue;
    height: 80vh;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
}

.paciente{
    border: 1px solid red;
    text-align: left;
    padding: 0.5rem;
    border-radius: 15px;
    margin-top: 15px;
}